*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
    background-image: url(../images/paper.gif);
}
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 5px solid steelblue;
    box-shadow: 15px 15px 8px #303030;
}
header {
    background-image: linear-gradient(white, lightsteelblue);
    border-bottom: 5px solid steelblue;
    padding: 10px 0px; 
}
#name {
    margin-left: 15px;
    font-size: 190%;
    font-style: italic;
    color: steelblue;
    text-shadow: 5px 5px 5px steelblue;
}
#motto {
    font-size: 180%;
    margin-top: 10px;
    margin-bottom: 25px;
}
header img {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    
}
#nav_menu ul {
    list-style: none;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 8px 0px;
}
#nav_menu a:hover {
    color: red;
}
#nav_menu li {
    display: inline;
    padding: 5px 10px;
    border-right: 3px solid black;
}
#nav_menu a {
    text-decoration: none;
    font-weight: bold;
}
#nav_menu #last {
    border-right: none;
}

#nav_list ul{
    list-style: none;

}
#nav_list li {
    border: 2px solid black;
    
}
#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: .5em;
    color: black;

}
#nav_list a:hover, #nav_list a:focus {
    background-color: steelblue;
    color: white;
}
section h1 {
    font-size: 180%;
    padding-top: 2%;
}
section h2 {
    padding-top: 10px;
    font-size: 150%;
    margin-left: 15px;
    padding-bottom: 5px;
}
section h3 {
    font-size: 120%;
    margin-left: 15px;
}
blockquote {
    text-indent: 10;
    font-style: italic;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: yellow;
}
section p{
    margin: 15px;
}
.homesection {
    width: 70%;
    float: right;
}
/* unvisited link */
section a:link {
    color: maroon;
    font-weight: bold;
    font-size: 110%;
}

/* visited link */
section a:visited {
    color: maroon;
    font-weight: bold;
    font-size: 110%;
}

/* mouse over link */
section a:hover {
    color: steelblue;
}

/* selected link */
section a:active {
    color: steelblue;
}
.sidebar {
    margin-left: 50px;
    padding-top: 30px;
    width: 20%;
}
.sidebar h2 {
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: -49px ;
    font-size: 140%;
    color: maroon;
}
aside ul li {
    margin-top: 5px;
}
aside ul li a {
    color: steelblue;
    font-weight: bold;
}

footer p {
    font-size: 75%;
    text-align: center;
    clear: both;
    padding-top: 30px;
    border: white;
    background-color: steelblue;
    padding-right: 10px;
    padding-bottom: 15px;
    color: white;
}
